# clusters/my-cluster/infra/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - local-path-storage.yaml
  - monitoring-namespace.yaml
  - prometheus-community-repo.yaml
  - grafana-repo.yaml
  - prometheus-stack-release.yaml
  - loki-stack-release.yaml
  - grafana-ingress-class.yaml
  - grafana-ingress.yaml
  

  - cert-manager-namespace.yaml
  - jetstack-repo.yaml
  - cert-manager-release.yaml
  - ingress-nginx-repo.yaml
  - ingress-nginx-release.yaml
  - zerossl-cluster-issuer.yaml